:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --very-light-grey: hsl(0, 0%, 95%);
  --font-size: 15px;
  --lexand: 'Lexend Deca', sans-serif;
  --big-shoulders: 'Big Shoulders Display', cursive;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* Srart tablet and desktop styles */
@media only screen and (min-width: 600px) {
  
}
/* End tablet and desktop styles */