:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 20%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --p-font-size: 15px;
  --weight-regular: 400;
  --weight-bold: 700;
  --overpass: 'Overpass', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 0%);
}

/* Hide the default checkbox, without blocking keyboard controls for accessibility */
.rating-component {
  min-width: 340px;
  max-width: 340px;
  padding: 20px;
  margin: 20px;
  font-size: 15px;
  font-family: var(--overpass);
  border-radius: 20px;
  background: linear-gradient(180deg, var(--dark-blue) 0%, var(--very-dark-blue) 100%);
}

.show-rating-form {
  display: block;
}

.show-thankyou-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.rating__icon {
  background-color: hsl(216, 12%, 54%, 0.1);
  padding: 15px;
  border-radius: 50%;
}

.rating__title, .thankyou__heading {
  color: var(--white);
  font-size: 1.6em;
}

.rating__description, .thankyou__message {
  color: var(--light-grey);
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 25px;
}

.rating__group {
  display: flex;
  padding: 0;
  margin-bottom: 10px;
  justify-content: space-between;
  border: none;
}

.rating__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Class used to accessibly hide the radio button components */
/* based on the inclusive .visually-hidden class recommended from https://design-system.w3.org/styles/how-to-hide-and-show-things.html */
.visually-hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* When the checkbox focused, outline the label in orange to make the focus state clear to the user*/
.rating__radio:focus+label {
  outline: var(--orange) 0.25rem solid;
}

.rating__radio:checked+label {
  color: var(--white);
  background-color: var(--medium-grey);
}

.rating__label {
  width: 55px;
  height: 55px;
  line-height: 57px;
  text-align: center;
  border-radius: 50%;
  font-weight: var(--weight-bold);
  color: var(--light-grey);
  background-color: var(--dark-blue);
}

.rating__submit-button {
  width: 100%;
  border: none;
  margin: 20px 0 5px 0;
  padding: 15px;
  border-radius: 50px;
  background-color: var(--orange);
  color: var(--white);
  font-weight: var(--weight-bold);
  font-size: 0.9em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.rating__submit-button:hover {
  color: var(--orange);
  background-color: var(--white);
  cursor: pointer;
}

.rating__submit-button:disabled {
  color: var(--medium-grey);
  background-color: var(--dark-blue);
  opacity: 0.5;
  cursor: not-allowed;
}

.rating__label:hover {
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
}

#thankyou-confirmation-container {
  padding: 20px 0;
}

.thankyou__image {
  width: 150px;
}

.thankyou__rating {
  padding: 5px 15px;
  margin: 30px 0 5px 0;
  color: var(--orange);
  opacity: 0.9;
  background-color: var(--dark-blue);
  border-radius: 15px;
}

.thankyou__message {
  margin: 0;
  text-align: center;
}