:root {
  /* Primary */
  --pale-blue: hsl(255, 100%, 95%);
  --bright-blue: hsl(245, 75%, 52%);
  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  /* Fonts */
  --red-hat-display: 'Red Hat Display', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: url(/images/pattern-background-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #e6edff;
}
.component-container {
  max-width: 400px;
  margin: 20px;
  border-radius: 25px;
  overflow: hidden;
  font-family: var(--red-hat-display);
  text-align: center;
  background-color: #FFFFFF;
}
#hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block; /* remove space below image */
}
#order-wrapper {
  padding: 25px;
}
#order-summary-heading {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--dark-blue);
}
#order-summary-description {
  padding: 0 18px 10px 18px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--desaturated-blue);
}
#plan-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: var(--very-pale-blue);
}
#music-icon {
  margin-right: 20px;
  object-fit: contain;
}
#plan-details-wrapper {
  text-align: left;
  flex-grow: 1;
}
#plan-type {
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
}
#plan-cost {
  font-size: 1rem;
  font-weight: 500;
  color: var(--desaturated-blue);
  margin: 5px 0 0 0;
}
#change-plan-wrapper {
  font-weight: 700;
}
#payment-button, #cancel-button {
  width: 100%;
  padding: 18px;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: var(--red-hat-display);
  outline: none;
}
#payment-button {
  margin-top: 30px;
  border-radius: 15px;
  background-color: var(--bright-blue);
  color: #FFFFFF;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
}
#cancel-button {
  background-color: transparent;
  color: var(--desaturated-blue);
  margin-top: 10px;
  padding-bottom: 10px; 
}
.attribution {
  font-size: 12px;
  text-align: center;
  font-family: var(--red-hat-display);
  font-weight: 500;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Larger tablet and desktop displays */
@media only screen and (min-width: 768px) {
  body {
    background: url(/images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #e6edff;
  }
}