:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --outfit-font-family: 'Outfit', sans-serif;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semi-bold: 600;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: var(--main-BG);
}
.article-nft-card {
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  font-family: var(--outfit-font-family);
  background-color: var(--card-BG);
  border-radius: 20px;
}
.card__img-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.card__preview-img {
  display: block;
  width: 100%;
}
.view-more__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.view-more__link:hover {
  opacity: 1;
  background-color: hsl(178, 100%, 50%, 0.4);
}
.card__title-link {
  text-decoration: none;
}
.card__title {
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  color: var(--white);
}
.card__title:hover {
  color: var(--cyan);
}
.card__description, 
.card__time-remaining,
.card__creator-description {
  color: var(--soft-blue);
  font-weight: var(--weight-light);
  font-size: 1rem;
}
.card__description {
  line-height: 1.6;
}
.card__price {
  display: flex;
  color: var(--cyan);
  font-size: 1rem;
  font-weight: var(--weight-semi-bold);
}
.eth-icon {
  margin-right: 6px;
}
.card__time-remaining {
  margin-left: auto;
  display: flex;
  font-size: 1rem;
  font-weight: var(--weight-regular);
}
.clock-icon {
  padding-top: 2px;
  margin-right: 6px;
}
.card__line {
  margin: 0 0 10px 0;
  height: 1px;
  background-color: var(--line);
  border: none;
}
.card__creator-details-container {
  display: flex;
  align-items: center;
}
.card__creator-img {
  height: 35px;
  margin-right: 10px;
  border: 1px solid var(--white);
  border-radius: 50%;
}
.card__creator-name {
  color: var(--white);
  text-decoration: none;
}
.card__creator-name:hover {
  color: var(--cyan);
}
.flex {
  display: flex;
}

@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}