/* Variables */
:root {
  /* Primary Colors */
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /* Neutral Colors */
  --dark-grey-magenta: hsl(303, 10%, 53%);
  --light-grey-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  /* typography */
  /* Spartan font family, 400, 500, 700 weights available */
  --spartan: 'Spartan', sans-serif;
  --normal-weight: 400;
  --medium-weight: 500;
  --bold-weight: 700;
  --font-size: 16px;

}

body {
  font-size: var(--font-size);
  font-family: var(--spartan);
}

.social-proof {
  margin: 5px;
}
/* Into styles */
.social-proof__intro {
  text-align: center;
}
.social-proof__intro > h2 {
  padding: 30px 20px 0 20px;
  color: var(--dark-magenta);
  font-size: 2rem;
  font-weight: var(--bold-weight);
  line-height: 1;
}
.social-proof__intro > p {
  color: var(--dark-grey-magenta);
  font-size: var(--font-size);
  font-weight: var(--medium-weight);
  line-height: 1.6rem;
}

/* Ratings styles */
.ratings {
  margin-top: 40px;
}
.ratings__category {
  text-align: center;
  background-color: var(--light-grey-magenta);
  border-radius: 10px;
  padding: 15px 0;
  margin: 15px 0;
}
.category__stars {
  margin-bottom: 10px;
}
.category__description {
  padding: 0;
  margin: 0;
}

/* Testimonials styles */
.testimonials {
  margin-top: 60px;
}
.review {
  font-family: var(--spartan);
  background-color: var(--dark-magenta);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
  padding: 40px;
}
.review__author {
  display: flex;
  align-items: center;
}
.review__author > img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.author__details {
  margin-left: 30px;
}
.author__details > h3 {
  font-size: 1rem;
  padding: 2px;
  margin: 0;
}
.author__name {
  color: var(--light-grey-magenta);
}
.author__title {
  color: var(--soft-pink);
  font-weight: var(--medium-weight);
}
.review > p {
  margin-top: 30px;
  font-weight: var(--medium-weight);
  color: var(--light-grey-magenta);
  font-size: 1rem;
  line-height: 1.6rem;
}

/* footer styles */
footer {
  margin: 5px;
  text-align: center;
}
.attribution > p {
  margin: 0;
  padding: 5px;
  font-size: 0.8rem;
}
.attribution {
  margin-bottom: 50px;
}

/* Laptop and desktop styles styles */
@media only screen and (min-width: 1024px) {
  body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  .social-proof {
    padding: 50px;
    max-width: 1200px;
  }
  .desktop-top {
    display: flex;
  }
  .social-proof__intro {
    width: 50%;
    padding-right: 100px;
    box-sizing: border-box;
    text-align: left;
  }
  .social-proof__intro > h2 {
    padding: 0;
    margin: 0;
    font-size: 3rem;
  }
  .ratings {
    margin: 0;
    flex-grow: 1;
  }
  .ratings__category {
    display: flex;
    align-items: center;
  }
  .category__stars {
    margin: 0;
    padding: 0 30px;
  }
  .category__descroiption {
    font-size: 1rem;
  }
  .testimonials {
    display: flex;
    margin-top: 0;
  }
  .review {
    margin: 0 10px;
  }
  .review:first-of-type {
    margin-left: 0;
  }
  .review:last-of-type {
    margin-right: 0;
  }
}