:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(212, 45%, 89%);
  --grayish-blue: hsl(219, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --outfit-font-family: 'Outfit', sans-serif; /* 400 and 700 font weights*/
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  background-color: var(--light-grey);
}

footer {
  margin-top: 20px;
  text-align: center;
  font-family: var(--outfit-font-family);
}

.qr-card {
  max-width: 270px;
  padding: 15px;
  background-color: var(--white);
  font-family: var(--outfit-font-family);
  border-radius: 15px;
  box-shadow: 0px 5px 20px 10px rgba(123, 135, 157, 0.2);
}

.qr-card__image {
  width: 100%;
  border-radius: 10px;
}

.qr-card__heading {
  color: var(--dark-blue);
  font-weight: 700;
  text-align: center;
}
.qr-card__description {
  padding: 0 5px;
  color: var(--grayish-blue);
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}