:root {
  --manrope: 'Manrope', sans-serif;
  --verydark-grey-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-greyish-blue: hsl(210, 46%, 95%);
  --fontsize: 13px;
}
body {
  padding: 20px;
  box-sizing: border-box;
  font-size: var(--fontsize);
  background-color: #F0F0F0;
}
.article-preview {
  font-family: var(--manrope);
  border-radius: 10px;
  overflow: hidden;
  background-color: #FEFEFE;
}
.article-preview__image {
  display: block;
  object-fit: cover;
  width: 100%;
}
.article-preview__content {}
.content__title {
  font-weight: 700;
}
.content__description {
}
.content__author {}
.content__publish-date {}

/* start attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* end attribution */